body{background-color: blueviolet}
h1{text-align: center;
text-decoration-color: white;
text-decoration: underline;
font-style: oblique}
button{background-color: hotpink}

form{font-style: italic}
h3{text-decoration: underline}
li{font-style: italic}


.
